/* 主页全局样式 */
body{font-family:'微软雅黑';margin:0 auto;padding:0;background:#FFF;font-size:14px;color:#333;overflow-x: hidden}
body > div{margin-right:auto;margin-left:auto;} 
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px}
.left{
    float: left;
}
.right{
    float: right;
}
/* 默认链接颜色 */
a{outline-style:none;color:#333;text-decoration:none}


/* 页面头部 */

.wrap-top{
    width: 100%;
    background: #404040;
    /* height: 40px; */
}

.top{
    width: 1225px;
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
}
.top a{
    color:#b3b3b3;
    font-size:14px;
}
.top .top-left a{
    line-height: 40px;
    margin: 0 10px;
}
.top-right{
    line-height: 40px;
}
.top-right p{
    float: left;
    margin-left:30px; 
    color:#b3b3b3;
    white-space: nowrap;
}
.top-right p:last-child{
    width: 120px;
    background: #4c4c4c;
    height:40px;
    text-align: center;
}
.top-right p:last-child a{
    display: block;
    width: 120px;
    height:40px;
}
.top-right p:first-child a{
    margin: 0 10px;
}
.top a:hover{
    color:#fff;
}
.top-right p:last-child a:hover{
    color:#b3b3b3;
}

/* 页面头部 end */


/* 页面导航栏 */

.wrap-nav{
    width: 100%;
    background: #fff;
    position: relative;
}
.wrap-nav .nav{
    width: 1225px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.wrap-nav .nav h1{
    width: 150px;
    height:60px;
    margin-top:23px; 
}
.wrap-nav .nav ul{
   display: flex;
   margin-left:15px; 
   margin-top:24px;
   flex-wrap:wrap; 
}
.wrap-nav .nav ul>li{
    margin-right: 40px;
    line-height: 60px;
}
.wrap-nav .nav ul>li:hover a{
    color:#0af;
}

/* 导航栏二级菜单区域 */
.wrap-nav .Two-level-menu-wrap{
    background: #fff;
    width: 100%;
    position: absolute;
    z-index : 9999;
    top:100px;
}
.wrap-nav .Two-level-menu-wrap>div{
    display: none;
    margin: 0 auto;
    background: #fff;
    width: 1226px;
}
.wrap-nav .Two-level-menu-wrap ul,ol{
    display: flex;
    flex-wrap:wrap; 
    margin:0;
}
.wrap-nav .Two-level-menu-wrap div ul li {
    margin: 0;
}
.wrap-nav .Two-level-menu-wrap div ul li a{
    text-align: center;
    display: block;
    width: 175px;
    height: 80px;
    color: #666;
}
.Two-level-menu-tow ol li{
    margin: 20px 17.2px 10px 0;
}
.Two-level-menu-tow ol li:last-child{
    margin:20px 0 10px 0;
}
.wrap-nav .Two-level-menu-wrap:hover ul li{
    opacity: 0.5;
}
.wrap-nav .Two-level-menu-wrap div ul li:hover{
    opacity: 1;
}
.Two-level-menu-tow ol li a:hover{
    color: #00a8ff;
}

/* 导航栏二级菜单end */

.wrap-nav .nav .search{
    width: 347px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.wrap-nav .nav .search div:first-child{
    display: flex;
    position: relative;
}
.wrap-nav .nav .search input{
    box-sizing: border-box;
    width:307px;
    height:40px;
    outline: none;
    margin-top:23px;
    font-size:14px; 
    border: 1px solid #b3b3b3;
    border-right:none; 
    text-indent: 5px;
}
.wrap-nav .nav .search button{
    width: 40px;
    height:40px;
    border: 1px solid #b3b3b3;
    background: #fff;
    margin-top:23px;
    outline: none;
    cursor: pointer;
}
.wrap-nav .nav .search button i{
    color:#aaa;
    font-size: 18px;
}
.wrap-nav .nav .search button:hover{
    background: #0af;
    border-color:#0af;
}
.wrap-nav .nav .search button:hover i{
    color:#fff;
}

.wrap-nav .nav .search div:first-child .search-Keyword{
    position: absolute;
    top:32px;
    right: 45px;
    display: flex;
}
.wrap-nav .nav .search div:first-child .search-Keyword a{
    height: 22px;
    padding: 0 10px;
    background: #ddd;
    font-size: 12px;
    line-height: 22px;
    border-radius: 5px;
    margin-left:8px; 
    
}
.wrap-nav .nav .search div:first-child .search-Keyword a:hover{
    background: #0af;
    color:#fff;
}
.wrap-nav .nav .search .hot{
    margin-bottom:7px; 
}
.wrap-nav .nav .search .hot a:hover{
    color: #00a8ff;
}
.wrap-nav .nav .search{
    position: relative;

}
.wrap-nav .nav .search .lists{
    padding: 10px 0;
    border-radius:4px; 
    background: #fff;
    position: absolute;
    z-index: 9999;
    top:64px;
    left:0;
}
.wrap-nav .nav .search .lists li{
    width: 310px;
    line-height: 30px;
    text-indent: 12px;
}
.wrap-nav .nav .search .lists li:hover{
    background: #ccc;
}

/* 页面导航栏 end */


/* 轮播图及二级菜单 */

.wrap-banner{
    width: 100%;
    height:500px;
    position: relative;
}
.wrap-banner .banner{
    width: 1920px;
    height: 500px;
    background: #333;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    overflow: hidden;
}
.wrap-banner .banner .swiper-pagination{
    margin-left: 117px;
}
.wrap-banner .banner .swiper-pagination .swiper-pagination-bullet{
    width:10px;
    height: 10px;
    margin: 0 10px;
    opacity: 1;
    background: #fff;
    cursor: pointer;
}
.wrap-banner .banner .swiper-pagination .swiper-pagination-bullet-active{
    background: #0af;
}
.banner .swiper-button-prev{
    position: absolute;
    top:200px;
    left:700px;
}
.banner .swiper-container .swiper-button-prev{
    padding: 0;
    margin: 0;
    width: 40px;
    height: 100px;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:581px;
    border-radius: 0 5px 5px 0;
    background:rgba(0,0,0,0)
}
.banner .swiper-container .swiper-button-prev p{
    width: 13px;
    height: 100px;
    background:url(../images/l_r.png) no-repeat 0 center;
    position: absolute;
    left:10px;
}
.banner .swiper-container .swiper-button-next{
    padding: 0;
    margin: 0;
    width: 40px;
    height: 100px;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:345px;
    border-radius:5px 0 0 5px;
    background:rgba(0,0,0,0)
}
.banner .swiper-container .swiper-button-next p{
    width: 13px;
    height: 100px;
    background:url(../images/l_r.png) no-repeat -24px center;
    position: absolute;
    right:13px;
}
.banner .swiper-container .swiper-button-prev:hover{
    background:rgba(0,0,0,.5)
}
.banner .swiper-container .swiper-button-next:hover{
    background:rgba(0,0,0,.5)
}



.wrap-banner .banner .list{
    width: 234px;
    height: 500px;
    background:rgba(0,0,0,.7);
    position: absolute;
    top:0;
    left:347px;
    z-index: 999;
}
.wrap-banner .banner .list a{
    color: #fff;
    float: left;
    margin-left:16px; 
}
.wrap-banner .banner .list li{
    width: 234px;
    height: 40px;
    margin:11.25px 0;
    line-height: 40px;
    float: left;
}
.wrap-banner .banner .list li:hover{
    background: #00a8ff
}

/* 轮播图及二级菜单 end */








.content-wrap{
    background: #fff;
    width:100%;
}

.content-wrap .goodlist{
    width: 1225px;
    margin: 0 auto;
    overflow: hidden;
}
.content-wrap .goodlist .content-hender{
    margin: 45px 0 12px 0;
    display: flex;
}
.content-wrap .goodlist .content-hender i{
    border-left:2px solid #00a8ff;
    width:  14px;
    height: 24px;
    display: inline-block;
    vertical-align: -4px;
}
.content-wrap .goodlist .content-hender h3{
    width: 100%;
    height: 40px;
    font-size: 24px;
    color:#555;
    line-height: 40px;
}
.content-wrap .goodlist .content-hender div{
    display: flex;
    width: 59px;
    height: 20px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #bbb
}
.content-wrap .goodlist .content-hender div div:first-child{
    border-right: 1px solid #bbb;
}
.content-wrap .goodlist .content-hender div div{
    width: 30px;
    height: 100%;
    font:700 16px/18px "宋体";
    color: #bababa;
    top:0;
    left: 0;
    margin: 0;
    border: 0;
    background: #fff;
}
.content-wrap .goodlist .content-hender div div a{
    display: block;
    width: 100%;
    height: 100%;
    text-align:center;
    color:#aaa;
}
.content-wrap .goodlist .content-hender div .swiper-button-disabled a{
    opacity: 1;
    color:#ececec;
}


.goodlist .list-wrap{
    border: 1px solid #cdcdcd;   
    border-right:0; 
    box-sizing: border-box;
}
.goodlist .list-wrap .list{
    height: 400px;
    width: 100%;
    display: flex;
    box-sizing: border-box;   
}
.goodlist .list-wrap .list li{
    box-sizing: border-box;
    width: 245px;
    border-right: 1px solid #cdcdcd;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.goodlist .list-wrap .list li div{
    width: 244px;
    height: 244px;
    padding-top:40px; 
}
.goodlist .list-wrap .list li div a{
    height: 200px;
    display: block;
}
.goodlist .list-wrap .list li a{
    text-align: center;
}
.goodlist .list-wrap .list li div img{
    height: 100%;
}
.goodlist .list-wrap .list li h4{
    height: 22px;
    font-size: 14px;
    color: #444
}
.goodlist .list-wrap .list li p{
    height: 36px;
    font-size: 14px;
    color:#999;
}
.goodlist .list-wrap .list li span{
    height: 25px;
    color:#f33;
    font-size: 16px;
}
.goodlist .list-wrap .list li b{
    color: #666;
    font-size: 10px;
    font-weight: normal;
    text-decoration: line-through;
}

.goodlist .banner-pos-rel{
    width: 1225px;
    height: 120px;
    background: #00a8ff;
    margin: 28px 0 50px 0;
}


/* 主体内容区 */

.container{
    width: 100%;
    height: 1000px;
    background: #f2f2f2;
}